.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

:root{
  --primary-color: rgb(29, 28, 28);
  --secondary-color: rgb(201, 201, 201);
  --third-color: rgb(245, 248, 250);
}
.html{
  scroll-behavior: smooth;
}
.body {
  color: var(--secondary-color);
  font-family: Helvetica, Arial, sans-serif;
}
.header{
  width: "100%";
  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top:0;
  background-image: url("./images/developer_bg01.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}
.header h1{
  font-size:xx-large;
}
.header nav{
  margin: 10px 7px 10px 7px;
}
.header nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}  
.header nav ul li a {
  padding: 10px 15px;
  color: var(--secondary-color);
  font-weight: lighter;
  font-size:large;
  text-decoration: none;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header nav ul li a:hover {
  background: rgb(165, 225, 240);
  color: rgba(1, 14, 71, 0.5);
  border-radius: 15px;
  text-shadow: none;
}
.full-body{
  width:"100%";
  background-image: url("./images/developer_bg01.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
}
.full-body h1{
 font-size:xx-large ;
}
.full-body h2{
  font-size:x-large;
}
.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.left-side{
  flex: 1 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 17px 25px 20px 50px;
}
.right-side{
  width:70%;
  display: flex;
  flex: 2 50%;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  padding: 17px 25px 20px 50px;
}
.bout{
  flex: 1 25%;
  justify-content: flex-start;
  align-items:flex-start;
}
.about-info {
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  font-size:large;
  line-height: 1.2;
}
.about img{
  flex: 1 10%;
  align-items: flex-start;
  margin-right: 10px;
}
.about-text {
  flex: 3;
}  
.proj{
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 2;
  align-items: center;
  line-height: 1.2;
}
.proj-title{
  flex: 1 100%;
}
.proj-img{
  display: flex;
  flex-wrap: wrap;
  flex:2 50%;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  padding-bottom: 5px;
}
.proj img {
  padding-right: 20px;
}
.proj img:hover {
  width: 150%;
}
.proj img::content {
  width: 300%;
}
.proj h3{
  font-size: x-large;
}
.resume a:hover img{
width: 400px;
}
.bottom-part{
  padding:0 45px 0 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size:medium;
  line-height: 1.2;
}
.bottom-part con{
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 980px) {
  .header{
   padding-bottom: 0;
   justify-content: center;
  }
  .header h1{
    font-size: xx-large;
    text-align: center;
  }
  .header nav ul li a {
      font-size: x-large;
  }
  .about-info, .bottom-part{
      font-size:large;
  }
}
@media screen and (max-width: 768px) {
  .header{
  padding-bottom: 0;
  justify-content: center;
 }
 .header h1{
   font-size: xx-large;
   text-align: center;
 }
 .header nav ul li a {
     font-size: x-large;
 }
 .about-info, .bottom-part, .con{
     font-size:large;
 }

}
@media screen and (max-width: 575px) {
  .body{
      /* background-image: url("./images/developer_bg01.jpg"); */
      background-size: cover;
      background-attachment: fixed;
      background-position: 100%;
  }
  .header{ 
      /* background-image: url("./images/developer_bg01.jpg"); */
      background-size: cover;
      background-attachment: fixed;
      background-position: 100%;
  }
  .full-body{
      background-image: none;
  }
 .body, header, .full-body{
  padding: 0;
  margin: 0;
 } 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
